.cifras {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cifra {
    font-size: 8rem;
    font-weight: 500;

    &--rechazado {
      color: $color-red-regular;
    }

    &--aprobado {
      color: $color-primary-dark;
    }

    &--tramitacion {
      color: $color-grey-dark-2;
    }
  }
}
