.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-primary-dark;
  font-size: 1.6rem;
  font-weight: 400;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-primary-darkest;
  }
}
