.dropdown {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: $color-primary-darkest;

  list-style: none;

  font-size: 1.6rem;
  font-weight: 400;
  width: 15.2rem;

  &__item {
    cursor: pointer;
    padding: 2rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}
