.proyectos {
  color: $color-grey-dark-4;
  margin: 2rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(2, min-content) 4rem repeat(2, min-content) 1fr;

  .titulos {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  &__estado {
    align-self: center;
    font-size: 2.7rem;
    font-weight: 500;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    &--aprobado {
      color: $color-primary-darkest;
    }

    &--rechazado {
      color: $color-red-dark;
    }

    &--tramitacion {
      color: $color-grey;
    }

    &--suspendido {
      color: $color-yellow-dark;
    }
  }

  &__link {
    align-self: stretch;
    border-radius: 0.5rem;
    background-color: $color-grey-light-10;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;

    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
}

.proyectos-index {
  color: $color-grey-dark-4;
  margin: 2rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(3, min-content);

  &__pages {
    grid-row: -1 / span 1;
    grid-column: 1 / -1;
    margin-top: 2rem;
    justify-self: center;
  }
}

.contenedor-cards {
  min-height: 42rem;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content 1fr;
  float: none;
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;

  &--index {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  @include respond(small) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__error {
    font-size: 1.8rem;
    font-weight: 300;
    grid-column: 1 / -1;
  }

  &__subtitle {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($color-grey, 0.5);
    width: 30rem;
  }
}

.card-senadores {
  display: grid;
  grid-template-rows: 23rem min-content 1fr 4rem;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;

  &__nombre {
    padding: 0 1rem;
    font-size: 2.1rem;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
  }

  &__partido {
    padding: 0 1rem;
    font-size: 1.6rem;
    grid-row: 3 / span 1;
    justify-self: start;
    align-self: center;
    hyphens: auto;
  }

  &__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    grid-column: 1 / -1;
  }

  &__twitter {
    align-self: center;
    justify-self: center;
    transition: color 0.2s ease;

    & > * {
      color: $color-primary-darkest;
      font-size: 3rem;
    }
  }

  &__button {
    grid-column: 1 / -1;
    border: none;
    outline: 0;
    display: inline-block;
    color: $color-white;
    background-color: $color-grey;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.card-proyectos {
  text-align: center;
  border-radius: 0.8rem;

  padding-top: 2rem;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr 4rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  overflow: hidden;

  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  &__title {
    padding-left: 2rem;
    font-size: 3rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: start;
    align-self: center;
  }

  &__estado {
    padding-right: 2rem;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  &__resumen {
    font-size: 1.8rem;
    text-align: left;
    padding: 1.5rem;
    grid-column: 1 / -1;
  }

  &__fecha {
    font-size: 1.8rem;
    padding-right: 2rem;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: end;
  }

  &__button {
    grid-column: 1 / -1;
    border: none;
    outline: 0;
    display: inline-block;
    color: $color-white;
    background-color: $color-primary-darkest;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.contenedor-linea {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  grid-column: -2 / -1;
  grid-row: 1 / -1;
}

.contenedor-linea:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.1rem;
  width: 0.2rem;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.resumen {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background-color: $color-grey-light-3;
  font-size: 2rem;

  grid-column: 1 / span 2;
  grid-row: 2 / span 1;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: min-content 3rem;

  &__content {
    grid-column: 1 / -1;
  }

  &__comision {
    font-weight: 500;
    align-self: center;
    justify-self: end;
    grid-column: 1 / span 1;

    span {
      font-style: italic;
    }
  }

  &__button {
    background-color: $color-primary-dark;
    border-radius: 5px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-primary-darkest;
    }
  }
}
