<h1>Áreas</h1>

<h2 id="areas"></h2>

<p>
</p>

<script>
  const lista_areas = ["Gobierno Interior, Nacionalidad, Ciudadanía y Regionalización",
    "Relaciones Exteriores, Asuntos Interparlamentarios e Integración Latinoamericana",
   "Constitución, Legislación, Justicia y Reglamento",
    "Educación",
    "Hacienda",
   "Defensa Nacional",
    "Obras Públicas, Transportes y Telecomunicaciones",
    "Agricultura, Silvicultura y Desarrollo Rural",
    "Medio Ambiente y Recursos Naturales",
    "Salud",
   "Trabajo y Seguridad Social",
    "Minería y Energía",
    "Economía, Fomento; Micro, Pequeña y Mediana Empresa; Protección de los Consumidores y Turismo",
  "Vivienda, Desarrollo Urbano y Bienes Nacionales",
  "Derechos Humanos y Pueblos Originarios",
  "Familia y Adulto Mayor",
  "Ciencias y Tecnología",
  "Pesca, Acuicultura e Intereses Marítimos",
  "Zonas Extremas y Antártica Chilena",
  "Seguridad Ciudadana",
  "Cultura, Artes y Comunicaciones",
  "Desarrollo Social, Superación de la Pobreza y Planificación",
  "Ética y Transparencia",
  "Deportes y Recreación",
  "Recursos Hídricos y Desertificación",
  "Revisora de Cuentas",
  "Control del sistema de inteligencia del estado",
  "Bomberos",
  "Mujeres y Equidad de Género",
  "Régimen Interno y Administración]"]

  for (i = 0; i < lista_areas.length; i++){
    document.getElementById('areas').innerHTML = lista_areas[i] ;
  }
</script>
