<section class="hero">
  <h1 class="hero__header">Ventana ciudadana</h1>
  <p class="hero__slogan">Portal de visualización de información del parlamento Chileno</p>
</section>

<section class="options">

  <div class="options__option">
    <img class="options__option-image"></img>
    <p class="options__option-header">Cámara</p>
    <p class="options__option-text">Visualiza la cámara y quienes la componen por sus colores políticos</p>
    <button class="options__option-button">Ir</button>
  </div>

</section>
