<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ventana Ciudadana</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    
    <header>
      <nav>
        <h1 class="logo">Ventana<span class="logo__strong">Ciudadana</span></h1>
        <ul class="nav-items">
          <a href="/"><li class="nav-items__item">Inicio</li></a>
          <a href="/camaras"><li class="nav-items__item">Cámara</li></a>
          <a href="#"><li class="nav-items__item">Parlamentarios</li></a>
          <a href="/areas"><li class="nav-items__item">Proyectos de ley</li></a>
        </ul>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>

    <footer class="footer">
      <p>Copyright &copy; 2019, cámara de diputados y cámara de senadores.</p>
      <p>IIC3143 - Desarrollo de Software</p>
    </footer>
    
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
