<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ventana Ciudadana</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    
    <header>
      <nav>
        <h1 class="logo">Ventana<span class="logo__strong">Ciudadana</span></h1>
        <ul class="nav-items">
          <li class="nav-items__item"><a href="/">Inicio</a></li>
          <li class="nav-items__item"><a href="#">Parlamentarios</a></li>
          <li class="nav-items__item"><a href="/proyectos-ley">Proyectos de ley</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>
    
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
