<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ventana Ciudadana</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>" />
    <% } %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="logo__wrapper">
          <h1 class="logo">Ventana<span class="logo__strong">Ciudadana</span></h1>
        </a>
        <ul class="nav-items">
          <a href="/camaras">
            <li class="nav-items__item">C치mara</li>
          </a>
          <a href="#">
            <li class="nav-items__item">Comisiones</li>
          </a>
          <a href="/areas">
            <li class="nav-items__item">Proyectos de ley</li>
          </a>
          <% if (!user) { %>
            <a href="/login">
              <li class="nav-items__item">Iniciar sesi칩n</li>
            </a>
          <% } else { %>
            <a href="/login">
              <li class="nav-items__item nav-items__dropdown"><%= user.nombre %></li>
            </a>
          <% } %>
        </ul>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>

    <footer class="footer">
      <p>Copyright &copy; 2019, c치mara de diputados y c치mara de senadores.</p>
      <p>IIC3143 - Desarrollo de Software</p>
    </footer>

    <script src="<%= assetPath('app.js') %>"></script>
  </body>
</html>
