<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ventana Ciudadana</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    
    <header>
      <nav>
        <h1 class="logo">Ventana<span class="logo__strong">Ciudadana</span></h1>
        <ul class="nav-items">
          <a href="/"><li class="nav-items__item">Inicio</li></a>
          <a href="#"><li class="nav-items__item">Parlamentarios</li></a>
          <a href="/proyectos-ley"><li class="nav-items__item">Proyectos de ley</li></a>
        </ul>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>
    
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
