<% if (wrongCredentials) { %>
  <div class="login__status">
    Credenciales inv치lidas
  </div>
<% } %>

<div class="login">
  <h2 class="titulos titulos--medium">Inicio de sesi칩n</h2>
  <form class="form" action="/session" method="post">
    <input name="username" type="text" class="form__input" placeholder="Nombre de usuario">
    <input name="password" type="password" class="form__input" placeholder="Contrase침a">
    <input type="submit" class="button form__button" value="Iniciar sesi칩n">
  </form>
</div>
