<div class="areas">
  <h1 class="titulos">Áreas</h1>

  <div class="contenedor-areas">

    <% for (const { id, name } of areas) { %>

      <div class="area">
        <a class="areas__link" href="/proyectos-ley/proyectos-area/<%= id %>">
          <img class="img_area" src="<%= assetPath(`area${id}.png`) %>" alt="Img área <%= id %>" />
          <h3><%= name %></h3>
        </a>
      </div>
    <% } %>

  </div>
</div>

<script>
</script>
