<div class="areas">
  <h1 class="titulos">Áreas</h1>

  <div class="contenedor-areas">

    <% for (const { id, nombre } of comisiones) { %>
      <div class="area">
        <a class="areas__link" href="/proyectos-ley/show-comition/<%= id %>">
          <img class="img_area" src="<%= assetPath(`area${id}.png`) %>" alt="Img área <%= id %>" />
          <h3><%= nombre %></h3>
        </a>
      </div>
    <% } %>

  </div>
</div>

<script>
</script>
