Estimado <strong><%= follower.username %></strong>,

<br>
El perfil de <%= senador.nombre %> <%= senador.apellido_paterno %> ha recibido
una actualización. Puedes visitarlo pinchando <a href='<%= SenadorPath %>'>aquí</a>.

<br>
Saludos,
<br>
Ventana Ciudadana.
