.proyecto-ley {
  background-color: $color-white;
}

.areas {
  margin: 2rem;
  margin-bottom: 4rem;

  &__titulo {
    font-size: 4rem;
    font-family: inherit;
    font-weight: 300;
    border-left: .2rem solid $color-primary-dark;
    padding-left: 1.5rem;
  }
}

.contenedor-areas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
}

.area {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: .3rem;
  flex-basis: 20%;
  margin: .5rem;
}

.img_area {
  max-width: 30rem;
  object-fit: cover;
  object-position: center;
}

.area h3 {
  //visibility: hidden;
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
}

.area:hover {
  color: black;
  opacity: 0.5;
  font-weight: 700;

  visibility: visible;
}
