$color-white: rgb(247, 247, 247);
$color-grey-light: rgb(244, 244, 244);
$color-grey-light-1: rgb(242, 242, 242);
$color-grey-light-2: rgb(240, 240, 240);
$color-grey-light-3: rgb(230, 230, 230);
$color-grey-light-4: rgb(220, 220, 220);

$color-black: rgb(10, 10, 10);
$color-grey-dark: rgb(40, 40, 40);
$color-grey-dark-2: rgb(50, 50, 50);

$color-red-light: #f09494;
$color-red-regular: #e06666;
$color-red-dark: #be533e;
$color-red-darkest: #85200c;

$color-primary-light: rgb(200, 240, 235);
$color-primary-regular: rgb(169, 213, 224);
$color-primary-dark: rgb(111, 166, 180);
$color-primary-darkest: rgb(72, 134, 149);
