*,
*::after,
*::before {
  min-width: 0;
  min-height: 0;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-primary-light;

  &>* {
    margin: auto;
    width: 90vw;
  }
}

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  font-weight: 300;

  @include respond(small) {
    font-size: 50%;
  }
}

header {
  height: 7vh;
  background-color: $color-primary-darkest;
  padding: 0 0 0 2rem;

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

main {
  padding: 2rem;
  min-height: 93vh;
  background-color: $color-white;
}

.logo {
  display: flex;
  align-items: center;
  color: $color-white;
  font-weight: 300;

  &__strong {
    font-weight: 500;
  }
}

.nav-items {
  height: 100%;

  list-style: none;
  display: flex;
  color: $color-white;

  &__item {
    cursor: pointer;
    user-select: none;
    padding: 0 2rem;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 1.6rem;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.proyecto-ley {
  background-color: $color-white;

}


//----------------------------------------------------- Camaras -----------------------------------------------------

#nombre_partido{
  font-size: 3rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

#cam_container{
  display: flex;
  position: center;
  margin: auto
}

svg{
  width:700px;
  height: 400px;
  margin: auto;
}


g:hover {
  opacity: 0.3;
}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;

}


.contenedor-areas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-content: stretch;
  padding:5px;

}


.area{
  display: flex;
  border: 1px solid lightgrey;
  flex-direction: column;
  text-align:left ;
  padding: 10px;
  padding-block: auto;
  border-radius: 3px;
  flex-basis: 20%;
  //flex:1;
  margin:5px;
}
.img_area{
  max-width: 300px;

}

.areas h3{
  //visibility: hidden;
  color: gray;

}

.areas:hover{
  color: black;
  opacity: 0.3;
  font-weight: bolder;

  visibility: visible;
}
