*,
*::after,
*::before {
  min-width: 0;
  min-height: 0;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-primary-light;

  &>* {
    margin: auto;
    width: 90vw;
  }
}

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  font-weight: 300;

  @include respond(small) {
    font-size: 50%;
  }
}

header {
  height: 7vh;
  background-color: $color-primary-darkest;
  padding: 0 0 0 2rem;

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

main {
  padding: 2rem;
  min-height: 93vh;
  background-color: $color-white;
}

.logo {
  display: flex;
  align-items: center;
  color: $color-white;
  font-weight: 300;

  &__strong {
    font-weight: 500;
  }
}

.nav-items {
  height: 100%;

  list-style: none;
  display: flex;
  color: $color-white;

  &__item {
    cursor: pointer;
    user-select: none;
    padding: 0 2rem;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 1.6rem;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.proyecto-ley {
  background-color: $color-white;

}

/////////////////////////////////////////////////////

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

body {
   margin: 0;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;
}

h1 {
   text-align: center;
   font-weight: 300;
   color: #777
}

h1 span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}
