h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.3rem;
  font-weight: 300;
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}
