<div class="profile-container">

  <div class="user-pic">
    <img src= "<%= userObject.foto_url %>">
  </div>

  <div class="user-name">
    <h1 class="titulos profile-title"><%= userObject.nombre_completo %></h1>
  </div>

  <div class="user-gallery">
    <h2>Suscripciones</h2>
    <div class="user-suscriptions">
      <div class="user-suscriptions__window">
        <h3 class="user-suscriptions__subtitle">Senadores</h3>
        <div class="user-suscriptions__suscriptions">
          No disponible
        </div>
      </div>
      <div class="user-suscriptions__window">
        <h3 class="user-suscriptions__subtitle">Proyectos de ley</h3>
        <div class="user-suscriptions__suscriptions">
          No disponible
        </div>
      </div>
      <div class="user-suscriptions__window">
        <h3 class="user-suscriptions__subtitle">Comisiones</h3>
        <div class="user-suscriptions__suscriptions">
          No disponible
        </div>
      </div>
    </div>
  </div>
  <div class="user-info">
    <h3>username: <%= userObject.username %></h3>
    <h3>email: <%= userObject.email %> </h3>
  </div>

</div>
